.grid-container {
  max-width: 90rem; }

#quantity_input label.option {
  cursor: pointer;
  display: inline-block;
  margin-right: 24px; }
  #quantity_input label.option input {
    margin-right: 5px;
    margin-bottom: 0; }
  #quantity_input label.option span {
    vertical-align: middle; }

#data_container,
#generate_container {
  margin-top: 40px; }

#generate_container {
  text-align: center; }

.cut-off {
  display: inline-block;
  border: 1px solid magenta;
  width: 3.2in;
  min-height: 3.2in;
  font-family: 'Roboto'; }

.logo-container {
  padding: 0.2in 0.2in 0.1in 0.2in; }

.upc-container {
  height: 0.7in;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .upc-container #upc-svg text {
    font-size: 19px !important;
    font-weight: 700 !important;
    font-family: 'Roboto' !important; }

.master-container {
  font-size: 0.15in;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700; }

.description-container,
.sku-container,
.quantity-container {
  font-size: 0.15in; }

.description-container {
  padding: 0 0.1in;
  text-align: center; }

.sku-container {
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding-left: 0.1in;
  width: calc(50%  - 0.1in);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left; }

.quantity-container {
  display: inline-block;
  width: calc(50%  - 0.1in);
  padding-right: 0.1in;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right; }
