.grid-container {
  max-width: 90rem; }

#quantity_input label.option {
  cursor: pointer;
  display: inline-block;
  margin-right: 24px; }
  #quantity_input label.option input {
    margin-right: 5px;
    margin-bottom: 0; }
  #quantity_input label.option span {
    vertical-align: middle; }

#data_container,
#generate_container {
  margin-top: 40px; }

#generate_container {
  text-align: center;
  border: 1px solid #cccccc; }

#generated_wrapper {
  text-align: center;
  padding: 40px;
  min-height: 1vh; }

.upc-label {
  margin-bottom: 40px; }
  .upc-label--heading {
    font-size: 0.20in;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 0;
    line-height: 1em; }
  .upc-label--size {
    font-size: 0.15in;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .upc-label--note {
    font-size: 0.1in;
    color: magenta;
    margin-bottom: 10px; }

.cut-off {
  display: inline-block;
  border: 1px solid magenta;
  width: 3.2in;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 3.2in;
  font-family: 'Roboto';
  padding: 0.1in 0.1in 0.2in; }
  .cut-off .upc-wrapper .logo-container {
    padding: 0.1in 0.1in 0.025in; }
  .cut-off .upc-wrapper .upc-container {
    height: 0.6in;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .cut-off .upc-wrapper .master-container {
    font-size: 0.15in;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700; }
  .cut-off .upc-wrapper .description-container,
  .cut-off .upc-wrapper .sku-container,
  .cut-off .upc-wrapper .quantity-container {
    font-size: 0.15in; }
  .cut-off .upc-wrapper .description-container {
    text-align: center; }
  .cut-off .upc-wrapper .sku-container {
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    width: calc(50%  - 0.1in);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left; }
  .cut-off .upc-wrapper .quantity-container {
    display: inline-block;
    width: calc(50%  - 0.1in);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right; }
  .cut-off .upc-wrapper .button-controls {
    margin-bottom: 50px; }
  .cut-off .qr-wrapper {
    border: 2px solid #000000;
    margin: 0.1in 0.1in 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
