
.grid-container {
	max-width: 90rem;
}

#quantity_input label.option {
	cursor: pointer;
	display: inline-block;
	margin-right: 24px;

	input {
		margin-right: 5px;
		margin-bottom: 0;
	}

	span {
		vertical-align: middle;
	}
}

#data_container,
#generate_container {
	margin-top: 40px;
}

#generate_container {
	text-align: center;
	border: 1px solid #cccccc;
}

#generated_wrapper {
	text-align: center;
	padding: 40px;
	min-height: 1vh;
}

.upc-label {
	margin-bottom: 40px;;

	&--heading {
		font-size: 0.20in;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 10px;
		padding-bottom: 0;
		line-height: 1em;
	}

	&--size {
		font-size: 0.15in;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	&--note {
		font-size: 0.1in;
		color: magenta;
		margin-bottom: 10px;
	}
}

.cut-off {
	display: inline-block;
	border: 1px solid magenta;
	width: 3.2in;
	display: inline-flex;
	flex-direction: column;
	min-height: 3.2in;
	font-family: 'Roboto';
	padding: 0.1in 0.1in 0.2in;

	.upc-wrapper {

		.logo-container {
			padding: 0.1in 0.1in 0.025in;
		}

		.upc-container {
			height: 0.6in;
			overflow: hidden;
			position: relative;
			display: flex;
			align-items: flex-end;
			justify-content: center;
		}

		.master-container {
			font-size: 0.15in;
			text-transform: uppercase;
			text-align: center;
			font-weight: 700;
		}

		.description-container,
		.sku-container,
		.quantity-container {
			font-size: 0.15in;
		}

		.description-container {
			text-align: center;
		}

		.sku-container {
			text-transform: uppercase;
			text-align: center;
			display: inline-block;
			width: calc(50%  - 0.1in);
			box-sizing: border-box;
			text-align: left;
		}

		.quantity-container {
			display: inline-block;
			width: calc(50%  - 0.1in);
			box-sizing: border-box;
			text-align: right;
		}

		.button-controls {
			margin-bottom: 50px;
		}
	}

	.qr-wrapper {
		border: 2px solid #000000;
		margin: 0.1in 0.1in 0;
		box-sizing: border-box;
		flex: 1;
	}
}